.theme3-image1{
    background-image: url(../images/construction.png);
border: 2px solid black;
border-radius: 50px;
width: 100px;
height:100px;
background-size: cover;
background-color: antiquewhite;
    background-position: center;
    background-repeat: no-repeat;
}
.theme3-image2{
    background-image: url(../images/toy.png);
border: 2px solid black;
border-radius: 50px;
width: 100px;
height:100px;
background-size: cover;
background-color: antiquewhite;
    background-position: center;
    background-repeat: no-repeat;
}